#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.profile{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.form-container{
  display:flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.katarina{
  height: 50px;
  width: 50px;
  margin-top: 20px;
}

